/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


*/
/* line 15, ../../app/assets/stylesheets/application.css.scss */
.brand {
  float: left;
  padding-right: 8px;
}

/* line 19, ../../app/assets/stylesheets/application.css.scss */
ul.nav {
  list-style: none;
  margin: 0 0 2em;
  padding: 0;
}

/* line 24, ../../app/assets/stylesheets/application.css.scss */
ul.nav li {
  display: inline;
}

/* line 27, ../../app/assets/stylesheets/application.css.scss */
#flash_notice, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

/* line 31, ../../app/assets/stylesheets/application.css.scss */
#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

/* line 35, ../../app/assets/stylesheets/application.css.scss */
#flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}
body 
{ 
	padding-top: 70px; 
	background-color: #E1E1E1;
}

.containHolder
{

	
}

.navbar-custom {
    background-color:#1A8DCD;
    color:#ffffff;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
    
}
.navbar-custom .navbar-brand {
    color:#eeeeee;
}

.col-md-3{

	background-color: #ffffff;
	margin-left: 2px;
	padding-bottom: 5px;
	margin-top: 3px;
	border: 2px solid #C9C9C9;
    border-radius: 12px;
    height: 320px;
    box-shadow: 0px 10px 5px #888888;
}

.col-md-8, .col-md-10, col-md-6{

	background-color: #ffffff;
	margin-left: 2px;
	padding-bottom: 5px;
	margin-top: 3px;
	border: 2px solid #C9C9C9;
    border-radius: 12px;
    height: auto;
    box-shadow: 0px 10px 5px #888888;
}



.inner-menu{

	margin-top: 5px;
}

.col-md-2 {

	background-color: #ffffff;
	margin-left: 2px;
	padding-bottom: 5px;
	margin-top: 3px;
	border: 2px solid #C9C9C9;
    border-radius: 12px;
    height: 320px;
    box-shadow: 0px 8px 3px #888888;
}

.leftSelect{

	display:inline-block;

}

.rightSelect{

	display:inline-block;
}

.second-inner-menu{

	margin: 5px;
}

.inner-table{

	margin-top: 18px;
}

.report-date{
    padding: 10px;
}

.too-wide{
    padding-right: 10%;
}

.upload-file{
    clear: both;
    float: right;
}

.form-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: -moz-stack;
    font-size: 14px;
    height: 45px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 20%;
}

.input-group-addon, .input-group-btn {
    vertical-align: middle;
    white-space: nowrap;
    width: 20%;
}
