<h2>Forgot your password?</h2>
<div>
	<div class="container">
		<div class="containHolder">
			<div class="row">
				<div class="col-md-12">
					<div>
						<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :class=>"form-inline",:method => :post }) do |f| %>
						<%= devise_error_messages! %>
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon">
									@
								</div>
								<%= f.email_field :email, :required => true, :placeholder=>"Enter email",:class=>"form-control" %>
							</div>

						</div>
							<br />
						<div>
							<%= f.submit "Send me reset password instructions",:class=>"btn btn-primary" %>
						</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

