<div class="row">

                <div class="col-xs-4" style="box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.75);margin-top: 15px;margin-left: 10px;padding: 29px;">
                	<h3>Time now corporate plan</h3>
                	<p>CSS is used for describing the presentation of web pages. The CSS tutorial section will help you learn the essentials of CSS, so that you can fine control the style and layout of your HTML document.</p>
                    
                </div>

                <div class="col-xs-4" style="margin-top: 15px;text-align: center;margin-left: 10px;">

                    <h5>Time Now Corporate pricing</h5>
                    <h3>$49 per month</h3>
                    <hr />
                    <h5>Include 1 Manager and 5 Employees</h5>                    
                    <hr />
                    <h5>$4,Additional per users</h5>
                    <hr />
                    <h5>$0.06,per phone clock </h5>
                    <%= link_to 'Signup',new_manager_path , :class => 'btn btn-primary' %>
                </div>
                <div class="col-xs-4" style="box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.75);margin-left: -38px;margin-top: 15px;padding: 29px;">
                	<h3>How are payments made?</h3>
                      <p>CSS is used for describing the presentation of web pages. The CSS tutorial section will help you learn the essentials of CSS, so that you can fine control the style and layout of your HTML document.</p>
                    

                </div>

                <div class="col-xs-4" style="box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.75);margin-left: 420px;margin-top: 45px;">
                				  	  
			  
                  <div>
                         <form class="form-inline" role="form">
                          <div class="form-group">
                          	<label for="manager">Enter number of Manager</label>
                            <input type="text" class="form-control"  placeholder="First Name">                              
                          </div>
                          
                          <div class="form-group">
                          	<label for="manager">Enter number of Employees</label>
                            <input type="text" class="form-control"  placeholder="First Name">                              
                          </div><br/>
                          <div class="form-group">
                          	<label for="manager">Enter number of Phone checkin permonth </label>
                            <input type="text" class="form-control"  placeholder="First Name">                              
                          </div>
                         
                          <button class="btn btn-success">Calculate </button>
                          
                        </form>
                  </div>
                  <div>
               	

            